
.header
  height: 50px
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  background: #50437f
  box-shadow: 0 4px 10px -6px grey

.header_group
  height: 100%
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center

  .logo
    height: 80%

  .app_name
    color: white

  & img
    height: 60%
    margin-left: 5px
    margin-right: 5px
